.top--part {
  background-color: $bgc--color-primary_2;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 300px;
}
.top-footer-font-1 {  
  color: $font--color-primary_2;
}
.photo {
  padding-left: 50px;
  color: $btn--color-primary_1;
}
