.top--part {
  background-color: $bgc--color-primary_2;
}
.top-footer-font-1 {
  color: $font--color-primary_2;
}
.phone-photo {
  color: $btn--color-primary_1;
}
.tools-photo {
  color: $btn--color-primary_1;
}
