@media (min-width: 767px) {
  .registration {
    max-width: 400px;
  }
}
h1 {
  text-align: center;
  color: $font--color-primary_3;
}

.btn-primary {
  width: auto;
  height: 28px;
  background-color: $btn--color-primary_1;
  color: #fff;
  font-size: 15px;
  font-family: open_sansbold;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  text-align: center;
}
