<div class="navbar-menu hidden">
  <div class="container">
    <div class="col">
      <div class="row">
        <ul class="navbar-pc d-none d-lg-block">
          <li class="home-icon"><i class="fa fa-home fa-2x"></i></li>
          <li><a href="#" class="nav-item">Pre-Owned Cars</a></li>
          <li><a href="#" class="nav-item">Finance</a></li>
          <li><a href="#" class="nav-item">Service</a></li>
          <li><a href="#" class="nav-item">News</a></li>
          <li><a href="#" class="nav-item">Careers</a></li>
          <li><a href="#" class="nav-item">Meet Our Team</a></li>
          <li><a href="#" class="nav-item">Contact Us</a></li>
          <li><a href="#" class="nav-item">About Us</a></li>
          <button type="submit" class=" btn btn_account">
            <i class="fa fa-user"></i> My Account
            <i class="fa fa-chevron-down"></i>
          </button>
        </ul>
        <div
          class="phone-burger d-none d-block d-sm-none d-sm-block d-xs d-lg-none"
        >
          <div class="wrap">
            <div class="menu-burger">
              <span class="burger-span"></span>
            </div>
            <div class="menu">
              <ul>
                <li>Pre-Owned Cars</li>
                <li>Finance</li>
                <li>Service</li>
                <li>News</li>
                <li>Careers</li>
                <li>Meet Our Team</li>
                <li>Contact Us</li>
                <li>About Us</li>
              </ul>
            </div>
            <button type="submit" class=" btn btn_account">
              <i class="fa fa-user"></i> My Account
              <i class="fa fa-chevron-down"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
