<div class="container-fluid register-part">
    <div class="container">
      <div class="col">
         <div class="row">
            <div class="col-md-12 wrapper_r">
                <h1>Create your account!</h1>           
                <p class = "top-footer-font-1">Name <input type="text"></p>                   
                <p>Surname<input type="text"></p>
                <p>Email<input type="text"></p>
                <p>Country<input type="text"></p>
                <p>City<input type="text"></p>
                <p>Password<input type="text"></p>
                <p>Confirm password<input type="text"></p>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
      </div>
  </div>
</div> 


    