<footer>
  <div class="container-fluid top--part">
    <div class="container">
     <div class="col">
      <div class="row">
      <i class="fa fa-mobile photo fa-3x"></i>
      <p class="top-footer-font-1">SALES CONTACT</p>
      <i class="fa fa-wrench photo fa-2x "></i>
      <p class="top-footer-font-1">SERVICE CONTACT</p>
      <i class="fa fa-cogs photo fa-2x"></i>
      <p class="top-footer-font-1">PARTS CONTACT</p>
      <i class="fa fa-file photo fa-2x"></i>
      <p class="top-footer-font-1">ONLINE APPRAISAL</p>
      </div>
     </div>
    </div>
  </div>
</footer>
