  <div class="container-fluid top--part">
    <div class="container">
      <div class="col">
        <div class="row">
          <div class="col-xl-3 col-sm-12 col-md-6 wrapper">
            <i class="fa  fa-phone photo fa-2x photo-phone"></i>
            <span class="phone">
              <p class="top-footer-font-1 first-p">SALES CONTACT</p>
              <h4 class="top-footer-font-1">123 456 7890</h4>
            </span>
          </div>
          <div class="col-xl-3 col-sm-12 col-md-6 wrapper">
            <i class="fa fa-wrench photo fa-2x "></i>
            <span>
              <p class="top-footer-font-1">SERVICE CONTACT</p>
              <h4 class="top-footer-font-1">123 456 7890</h4>
            </span>
          </div>
          <div class="col-xl-3 col-sm-12 col-md-6 wrapper">
            <i class="fa fa-cogs photo fa-2x"></i>
            <p class="top-footer-font-1">PARTS CONTACT</p>
            <h4 class="top-footer-font-1">123 456 7890</h4>
          </div>
          <div class="col-xl-3 col-sm-12 col-md-6 wrapper">
            <i class="fa fa-check-square-o photo fa-2x"></i>
            <p class="top-footer-font-1">ONLINE APPRAISAL</p>
            <h4 class="top-footer-font-1">123 456 7890</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
