.admin-panel {
    .filter-header {
        color: $font--color-primary_1;
    }

    .btn-addfilter {
        background-color: $btn--color-primary_2;
        color: $font--color-primary_2;
        border-radius: 5px;
        border: 0px;
        padding: 5px 15px;
    }
}
