// .btn--header_login {
//   width: 65px;
//   height: 16px;
//   @include font(22px, $font-sansbold, $standart--color__1, 400);
//   line-height: 24px;
//   text-transform: uppercase;
//   letter-spacing: 1.1px;
//   text-decoration: none;
//   background: url("../img/Login.svg") no-repeat 100%;
//   width: 115px;
//   height: auto;
//   display: inline-block;
// }

// .btn--liveChat {
//     width: 65px;
//     height: 16px;
//     @include font(22px, $font-sansbold, $standart--color__1, 400);
//     line-height: 24px;
//     text-transform: uppercase;
//     letter-spacing: 1.1px;
//     text-decoration: none;
//     background: url("../img/Chat.svg") no-repeat 100%;
//     width: 162px;
//     height: auto;
//     display: inline-block;
//   }
.btn_search {
  width: 73px;
  height: 28px;
  background-color: $btn--color-primary_2;
  @include font(15px, $font-sansbold, $font--color-primary_2, 400);
  text-transform: uppercase;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  text-align: center;
  margin-left: 26px;
}
.btn_account {
  width: 163px;
  height: 35px;
  border: 2px solid #a6daff;
  float: right;
  background-color: $btn--color-primary_2;
  @include font(14px, $font-sansbold, $font--color-primary_2, 400);
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .btn_account {
    font-size: 10px;
    height: 25px;
    width: 120px;
  }
}
.btn_search:hover {
  background-color: $btn--color-primary_5_hover;
}

.btn_reset {
  width: 57px;
  height: 28px;
  background-color: $btn--color-primary_2;
  @include font(15px, $font-sansbold, $font--color-primary_2, 400);
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  border: 0px;
}
.btn_reset:hover {
  background-color: $btn--color-primary_5_hover;
}
.btn_buy-car {
  text-transform: uppercase;
  display: grid;
  text-align: center;
  cursor: pointer;
  width: 50%;
  height: 100px;
  border: 0px;
  font-family: $font-sansbold;
  color: $font--color-primary_2;
  background-color: $btn--color-primary_2;
}
.btn_buy-car:hover {
  background-color: $btn--color-primary_4_hover;
}
.btn_buy-car-image {
  /* color: $bgc--color-primary_5; */
  margin-left: 50px;
}
.btn_sell-car {
  text-transform: uppercase;
  display: grid;
  text-align: center;
  cursor: pointer;
  width: 50%;
  height: 100px;
  border: 0px;
  font-family: $font-sansbold;
  color: $font--color-primary_2;
  background-color: $btn--color-primary_2;
}
.btn_sell-car:hover {
  background-color: $btn--color-primary_4_hover;
}
.btn_sell-car-image {
  /* color: $bgc--color-primary_5; */
  margin-left: 64px;
}
.textMenu {
  text-align: center;
  @include font(20px, $font-sansbold, $font--color-primary_2, 400);

  text-transform: uppercase;
}
