// Background colors
$bgc--color-primary_1: #f0f3f5;
$bgc--color-primary_2: #0f5b91;
$bgc--color-primary_3: #d3e0e9;
$bgc--color-primary_4: #333434;
// and repeat ...

// Text colors

$font--color-primary_1: #333434;
$font--color-primary_2: #ffffff;
$font--color-primary_3: #4298d5;

// Button colors

$btn--color-primary_1: #4298d5;
$btn--color-primary_2: #0f5b91;
$btn--color-primary_3: #333434;

// Button colors:hover

$btn--color-primary_1_hover: #d54242;
$btn--color-primary_2_hover: #0f9115;
$btn--color-primary_3_hover: #333434;

// Standart collors
$standart--color__1: #fff;

//list car
$year--color: #ff4444;
$information--color:#f2d900;




